@import "tailwindcss";

:root {
  --a: oklch(0.5 0.1 20);
  --b: oklch(0.5 0.1 20 / 0.5);
  --c: var(--a);
  --d: var(--color-white);
  --e: transparent;
  --f: currentColor;
  --g: var(--color-red-500);
}

@theme inline {
  --color-primary: var(--a);
}

body {
  color: var(--a);
  background: var(--b);
}
